.footer-top p{
    color: #999;
    line-height: 25px; 
}
.footer-top  h2,h3{
    color: #fff;
}
.footer-top h2{
    font-size: 18px;
}
.footer-top{
    background: #111;
    padding: 80px 0;
}
.segment-one h3{
    font-family: courgette;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
}
.segment-two h2{
    font-family: courgette;
    color: #fff;
    font-family: poppins;
    text-transform: uppercase;
}
.segment-two h2:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.segment-two ul li{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 40px;
}
.segment-two ul li a{
    color: #999;
    text-decoration: none  ;
}
.segment-three h2{
    color: #fff;
    font-family: poppins;
    text-transform: uppercase;
}
.segment-three h2:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.segment-three a{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
.segment-three a li{
        font-size: 25px !important;
        color: #fff;
        padding: 8px 10px;
}   
.footer-bottom-text{
    text-align: center;
    background: #000;
    line-height: 75px;
    color: #999;
}

/* Responsive css */

@media only screen and (min-width: 768px) and (max-width: 991px){
    .md-mb-30{
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 767px){
    .sm-mb-30{
        margin-bottom: 30px;
    }
    .footer-top{
        padding: 50px 0;
    }
}